[submodule "mbed-os"]
	path = mbed-os
	url = https://github.com/ARMmbed/mbed-os
[submodule "mbed_6tron-courses_lorawan"]
	path = mbed_6tron-courses_lorawan
	url = https://github.com/catie-aq/mbed_6tron-courses_lorawan.git
